<div class="authform">
  <%= form_for(@task, :url => tasks_path(@task), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>Create New ToDo</h3>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
     <div class="form-group ">
      <%= f.label :due_date %>
      <%= f.text_field :due_date, :autofocus => true, class: 'form-control datepicker' %>
    </div>
     <%= f.submit 'Submit', :class => 'button right' %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>

<!-- $('.datepicker').datepicker()
.on('changeDate', function(ev){                 
    $('.datepicker').datepicker('hide');
}); -->